.terminal {
  overflow: hidden;
}
.terminal .react-terminal-wrapper {
  font-size: 1rem;
}

.terminal .react-terminal-wrapper {
  font-size: 0.95rem;
}

.terminal .react-terminal-line {
  opacity: 0.4;
}
.terminal .react-terminal-line.react-terminal-input {
  opacity: 1;
}

html {
  background-color: #FFC100;
}
