$blue: #3772ff;
$white: #e8e9eb;
$yellow: #ffc100;
$black: #313638;
$red: #df2935;

$footer-max-offset: 17rem;

// @font-face {
//     font-family: "Roboto";
//     src: url(../fonts/Roboto/Roboto-Regular.ttf);
// }

// @font-face {
//     font-family: "Ubuntu";
//     src: url(../fonts/Ubuntu/Ubuntu-Regular.ttf);
// }

// @font-face {
//     font-family: "FingerPaint";
//     src: url(../fonts/FingerPaint/FingerPaint-Regular.ttf);
// }

.react-terminal-wrapper {
    font-size: 0.95em !important;
    padding: 4em 3em !important;
    height: inherit;
    background-color: inherit !important;
    .react-terminal {
        overflow: visible !important;
    }
    .terminal-hidden-input {
        visibility: hidden;
    }
}
.react-terminal-line {
    font-size: 0.95em !important;
    // opacity: 0.5;
}
.react-terminal-line.react-terminal-input {
    opacity: 1;
}

html {
    main {
        min-height: calc(100vh - #{$footer-max-offset});
    }
}

.MuiAutocomplete-option[aria-selected="true"] {
    background-color: unset !important;
}

svg.change-color {
    path {
        fill: currentColor;
    }
}
