$blue: #3772ff;
$white: #e8e9eb;
$yellow: #ffc100;
$black: #313638;
$red: #df2935;

$footer-max-offset: 17rem;

// @font-face {
//     font-family: "Roboto";
//     src: url(../fonts/Roboto/Roboto-Regular.ttf);
// }

// @font-face {
//     font-family: "Ubuntu";
//     src: url(../fonts/Ubuntu/Ubuntu-Regular.ttf);
// }

// @font-face {
//     font-family: "FingerPaint";
//     src: url(../fonts/FingerPaint/FingerPaint-Regular.ttf);
// }

.terminal {
    overflow: hidden;
    .react-terminal-wrapper {
        font-size: 0.95rem;
    }
    .react-terminal-line {
        opacity: 0.4;
    }
    .react-terminal-line.react-terminal-input {
        opacity: 1;
    }
}

html {
    background-color: #ffc100;
    main {
        min-height: calc(100vh - #{$footer-max-offset});
    }
}

.firebaseui-card-content {
    padding: 0 !important;
    .firebaseui-list-item {
        display: flex;
    }
    button {
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: unset;
        border-radius: 0.5rem;
    }
}

code.hljs {
    background-color: $white;
    border-radius: 0.25em;
}

.MuiAutocomplete-option[aria-selected="true"] {
    background-color: unset !important;
}
